[submodule "sugaku-buraku"]
	path = sugaku-buraku
	url = git@github.com:LatitudeHigh/sugaku-buraku.git
[submodule "math-card-bop"]
	path = math-card-bop
	url = git@github.com:LatitudeHigh/math-card-bop.git
